@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form_input .input_data input {
        @apply block py-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600;
    }
    .form_input .input_data label {
        @apply absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0];
    }
    .form_input button {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
    }
    .list_siswa td {
        @apply px-5 py-4;
    }
    .form_input .input_file input {
        @apply block  w-full lg:w-80 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none;
    }
    .detail .link-action a {
        @apply hover:underline hover:font-bold border-x border-gray-800 px-2;
    }
    .list_data div {
        @apply bg-gray-50 px-5 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b border-gray-200;
    }
    .list_data div dt {
        @apply text-sm font-medium text-gray-500;
    }
    .list_data div dd {
        @apply text-sm text-gray-900 sm:col-span-2;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:-webkit-autofill {
    -webkit-background-clip: text;
}
